@import '~antd/dist/antd.css';
.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.bg-myGrey{
    background-color: #696969;
}

.App-link {
    color: #61dafb;
}

/*To remove the dropdown arrow*/
.dropdown-toggle::after {
    display: none !important; 
  }

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dropdown-submenu {
    position: relative;
  }

  .dropdown-subsubmenu {
    position: relative;
  }

  .dropdown-sub3menu {
    position: relative;
  }

  .dropdown-sub4menu {
    position: relative;
  }

  .dropdown-sub5menu {
    position: relative;
  }

  .dropdown-sub6menu {
    position: relative;
  }

  .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}

.dropdown-subsubmenu .dropdown-menu {
    top: 20;
  left: -58%;
  margin-top: -1px;
  }

  .dropdown-sub3menu .dropdown-menu {
    top: 20;
  left: -410%;
  margin-top: -1px;
  }

  .dropdown-sub4menu .dropdown-menu {
    top: 20;
  left: -385%;
  margin-top: -1px;
  }

  .dropdown-sub5menu .dropdown-menu {
    top: 0;
  left: -82%;
  margin-top: -1px;
  }

  .dropdown-sub6menu .dropdown-menu {
    top: 0;
  left: -75.5%;
  margin-top: -1px;
  }

.col-centered{
    float: none;
    margin: 0 auto;
}
